        @import url('https://fonts.googleapis.com/css?family=News+Cycle|Shadows+Into+Light');
        nav {
            background-color: #F0E4CA;
            line-height: 3em;
            font-size: 1.1em;
            margin-top: -75px;
            padding-left: 100px;
        }
        
        .page-nav {
            background-color: #F0E4CA;
            line-height: 2em;
            font-size: .95em;
            margin: 0px;
            margin-bottom: -25px;
            max-width: 100%;
            line-height: 3em;
        }
        
        h1 {
            color: #2E4072;
            font-family: "Shadows Into Light", "Comic Sans MS", sans-serif;
            font-size: 4em;
            font-weight: 1000;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-flow: row wrap;
            margin: 0px;
        }
        
        nav > ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            align-content: center;
            flex-flow: row wrap;
            font-family: "News Cycle", "Lucida Sans Unicode", sans-serif;
            margin: 0px;
        }
        
        nav li {
            flex: 1 0 6em;
        }
        
        #logo {
            background-color: white;
            position: relative;
            width: 110px;
            border-style: solid;
            border-width: 3px;
            border-color: #2E4072;
            margin-left: 10px;
        }
        
        img {
            max-width: 100%;
            justify-content: center;
        }
        
        .fullwidth {
            width: 100%;
        }
        
        #middle-row {
            background-color: #B8A274;
        }
        
        #top-row,
        #middle-row {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }
        
        #bottom-row {
            text-align: center;
            width: 96%;
            margin: 1em;
        }
        
        #middle-row2 {
            text-align: center;
            width: 96%;
            margin: 1em;
            background-color: #B8A274;
        }
        
        #bottom-row2 {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }
        
        section {
            padding: 15px;
        }
        
        h2,
        h4,
        h5,
        h6 {
            color: #2E4072;
            font-family: "Shadows Into Light", "Comic Sans MS", sans-serif;
            font-size: 1.8em;
            display: flex;
            justify-content: center;
        }
        
        h3 {
            color: #2E4072;
            font-family: "Shadows Into Light", "Comic Sans MS", sans-serif;
            font-size: 1.8em;
            margin: 0px;
        }
        
        h2 {
            margin-bottom: 0.1px;
        }
        
        .paragraph-color {
            color: #283A5D;
        }
        
        #content {
            width: 90%;
            max-width: 960px;
            margin: 0 auto;
        }
        
        p {
            font-family: "News Cycle", "Lucida Sans Unicode", sans-serif;
            margin-top: 0.1px;
        }
        
        .leftcol,
        .rightcol {
            width: 48%;
            flex: 1 0 15em;
            margin: .5em;
        }
        
        footer {
            height: 55px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
        
        #copyright {
            flex: 10 0 15em;
        }
        
        #facebook,
        #instagram,
        #youtube {
            margin: 0px 5px;
        }
        
        nav a {
            padding: .7em 1em;
            color: #2A385D;
        }
        
        a:normal {
            color: black;
        }
        
        nav a:hover {
            color: #8B91A2;
            background-color: burlywood;
        }
        
        a:visited {
            color: #215054;
            text-decoration: none;
        }
        
        .rates_dates {
            list-style-type: none;
            font-family: "News Cycle", "Lucida Sans Unicode", sans-serif;
            margin: 0px;
            color: #283A5D;
        }